* {
  text-align: center;
}

label {
  display: inline-block;
  width: auto;
}

input {
  display: inline-block;
  width: auto;
}

h4, h5 {
  font-size: 1.5rem;
}

h2.other-things {
  font-family: 'Vollkorn';
}

body {
  background-color: #eff7e1;
}

body #major {
  font-family: 'Vollkorn';
}

footer + p {
  background-color: yellow;
}
footer > p {
  background-color: red;
}

a ~ p {
  background: blue;
}

/* Class Selectors */
.hobbies {
  width: 15%;
  margin: 0 auto;
}
.hobbies:hover {
  color: #ffe227;
}
.hobbies:active {
  color: green;
}
.hobbies:visited {
  color: blue;
}
/* Attribute Selectors  */
img[alt="mammoth picture"] {
  width: 20%;
}
/* ID Selectors */
#welcome-msg {
  font-family: 'Montserrat';
  color: #0d335d;
  text-decoration: underline;
}

#profile-pic {
  width: 200px;
}
